* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f7f7f7;
}

#header {
  background-color: #000;
  padding: 10px;
  width: 100%;
  height: 60px;
  position: fixed;
  color: #fff;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: lighter;
  text-align: center;
}
#header h6 {
  margin-top: 5px;
  font-size: 20px;
}
#header p {
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-columns: 360px auto;
  grid-gap: 20px;
  margin: 0 10px;
  padding: 40px 30px;
}
.container .input-container {
  padding: 40px 5px;
  background-color: #fff;
  width: 100%;
  height: 550px;
  border: 1px solid;
  border-color: #b6b6b6;
  border-radius: 10px;
  box-shadow: 13px 5px 12px -11px rgba(0, 0, 0, 0.3);
}

.time {
  color: #000;
}
.time #time-clock {
  font-size: 45px;
  font-weight: normal;
  text-align: center;
}
.time #time-date {
  font-size: 16px;
  font-weight: normal;
  text-align: right;
  padding-right: 55px;
}

hr {
  margin: 10px;
}

.form-input-reminder {
  padding: 5px;
  font-weight: normal;
}
.form-input-reminder .form-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
}
.form-input-reminder .form-input input {
  height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #BDBDBD;
}
.form-input-reminder button {
  margin-top: 10px;
  background-color: #000;
  color: white;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 23px -8px rgba(137, 137, 137, 0.77);
  transition: 0.3s background-color;
}
.form-input-reminder button:hover {
  cursor: pointer;
  background-color: #6a6a6a;
}

#added-container {
  width: 100%;
  min-height: 6vh;
}
#added-container .reminder {
  width: calc(100% - 60px);
  height: 40px;
  background-color: #cccccc;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
  padding: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#added-container .reminder .reminder-info-title {
  font-size: 23px;
  font-weight: normal;
  color: #000;
}
#added-container .reminder .reminder-info-schedule {
  font-size: 16px;
  font-weight: normal;
  font-weight: normal;
  color: lighten #fff 20%;
}
#added-container .reminder .counter {
  font-size: 13px;
}
#added-container .reminder .reminder-action button {
  border: none;
  background-color: #cccccc;
  font-size: 25px;
  outline: none;
  transition: 0.3s font-size, 0.3s margin-right;
  margin-right: 3px;
}
#added-container .reminder .reminder-action button:hover {
  cursor: pointer;
}
#added-container .reminder .reminder-action button i {
  transition: 0.3s color;
}
#added-container .reminder .reminder-action button i:hover {
  color: #fff;
}

#reminder-info-text {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 40vh;
  letter-spacing: 2px;
  color: #666666;
}

/*# sourceMappingURL=style.css.map */
