* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f7f7f7;
}

#header {
    background-color: #000;
    padding: 10px;
    width: 100%;
    height: 60px;
    position: fixed;
    color: #fff;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: lighter;
    text-align: center;

    h6{
        margin-top: 5px;
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}

.container {
    display : grid;
    grid-template-columns: 360px auto;
    grid-gap : 20px;
    margin: 0 10px;
    padding : 40px 30px;

    .input-container{
        padding: 40px 5px;
        background-color: #fff;
        width: 100%;
        height: 550px;
        border: 1px solid;
        border-color: #b6b6b6;
        border-radius: 10px;
        box-shadow: 13px 5px 12px -11px rgba(0,0,0,0.3);
    }
}

.time {
    color: #000;

    #time-clock {
        font-size: 45px;
        font-weight: normal;
        text-align: center;
    }
    
    #time-date {
        font-size: 16px;
        font-weight: normal;
        text-align: right;
        padding-right: 55px;
    }
}

hr {
    margin: 10px;
}

.form-input-reminder {
    padding: 5px;
    font-weight: normal;

    .form-input {
        display : flex;
        flex-direction: column;
        justify-content: space-between;
        height : 60px;
       

        input {
            height : 30px;
            padding : 0 10px;
            border-radius : 5px;
            border : 1px solid #BDBDBD;
        }
    }

    button {
        margin-top : 10px;
        background-color : #000;
        color : white;
        width : 100%;
        height : 40px;
        border : none;
        border-radius : 5px;
        box-shadow: 2px 2px 23px -8px rgba(137,137,137,0.77);
        transition : 0.3s background-color;
    }

    button:hover {
        cursor : pointer;
        background-color : lighten(#505050, 10%);
    }
}

#added-container {
    width: 100%;
    min-height: 6vh;

    .reminder {
        width : calc(100% - 60px);
        height : 40px;
        background-color : #cccccc;
        border-radius : 10px;
        border : 1px solid #D9D9D9;
        padding : 30px;
        margin-bottom : 20px;
        display : flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .reminder-info-title {
            font-size: 23px;
            font-weight: normal;
            color : #000;
        }

        .reminder-info-schedule {
            font-size: 16px;
            font-weight: normal;
            font-weight: normal;
            color: lighten (#fff 20%);
        }
        
        .counter {
            font-size: 13px;
        }

        .reminder-action button {
            border : none;
            background-color : #cccccc;
            font-size : 25px;
            outline: none;
            transition: 0.3s font-size, 0.3s margin-right;
            margin-right : 3px;

            &:hover {
                cursor : pointer;
            }

            i {
                transition: 0.3s color;
                &:hover {
                    color : #fff;
                }
            }
        }
    }
}

#reminder-info-text {
    width : 100%;
    height : 100%;
    text-align: center;
    margin-top : 40vh;
    letter-spacing: 2px;
    color : lighten($color: #000000, $amount: 40%);
}

